// Re-style of Angular Material components

@use "app/styles/material/mat-table.scss";
@use "app/styles/material/mat-dialog.scss";
@use "app/styles/material/mat-form-field.scss";
@use "app/styles/material/mat-snackbar.scss";
