// Colors
$confirm-green: #66bb6a;
$confirm-green-hover: #559959;
$table-row-hover: #94c1e7;
$iemdm-white: #ffffff;
$iemdm-yellow: #e8c369;
$iemdm-red: #f54646;
$iemdm-text-grey: #999999;
$table-row-even: $iemdm-white;
$table-row-odd: #ebebeb;
$disabled-action: #808080;
$disabled-button: rgba(0, 0, 0, 0.12);
$disabled-text: rgba(0, 0, 0, 0.26);
$enabled-action: #000000;
