:host {
  display: block;
  width: 100%;
  height: 100%;
}

.canvas-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
  display: block;

  &.classification-mode {
    cursor: default;
  }

  &.pan-mode {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  canvas {
    display: block;
  }
}
