<div
  class="relative flex h-full flex-col overflow-auto bg-blue-50 px-2 pb-2 lg:px-4 2xl:max-h-full 2xl:px-8"
>
  <div class="flex flex-wrap gap-x-4">
    <div>
      <h5 class="m-3 font-medium text-home-blue">Your Alerts</h5>

      <mat-card>
        <div class="m-4 flex flex-wrap justify-around divide-x">
          <div
            class="flex h-[200px] w-[250px] flex-col items-center justify-around p-4"
          >
            <div class="mb-4 flex flex-col items-center">
              <p class="text-4xl">
                {{ notificationCount()
                }}{{ isNotificationCountOverLimit() ? "+" : "" }}
              </p>
              <p class="text-neutral-600">Notifications</p>
            </div>

            <button
              (click)="openNotificationsModal()"
              [color]="hasSysWarnings ? 'warn' : 'primary'"
              class="w-full"
              mat-raised-button
            >
              See Notifications
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="flex flex-col 2xl:overflow-auto">
    <h5 class="m-3 font-medium text-home-blue">Your Weekly Overview</h5>

    <mat-card class="overflow-auto">
      <div [innerHTML]="threeWeeksHTML" class="p-4"></div>
    </mat-card>
  </div>
</div>
