.filter-dialog {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  min-height: 400px;

  ::ng-deep {
    app-filter-panel {
      display: flex;
      flex-direction: column;
      height: 100%;

      .filter-panel {
        border-left: none;
        width: 100%;
        max-height: 80vh;
      }
    }
  }
}
